[Unit] Description=EXTTO Automation Service 
After=network.target

[Service]
Type=simple
# Sostituire con l'utente e il gruppo del sistema
User=<NOME_UTENTE>
Group=<NOME_GRUPPO>

# Percorso della directory principale dell'applicazione
WorkingDirectory=<PERCORSO_BASE_APP>

# Percorso di Python nel Virtual Environment e dello script principale
ExecStart=<PERCORSO_BASE_APP>/.venv/bin/python3 <PERCORSO_BASE_APP>/extto3.py

# Riavvia sempre in caso di crash
Restart=always
RestartSec=10

# Variabili d'ambiente utili
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
